.html {
    background-color: rgb(255, 255, 255);
    color: black;
}
/* ----------------------------- PAGE LOADER ---------------------------- */



.main-nav {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 144, 32) 0%, rgb(252, 200, 55) 72%);
    padding: 3px;
    box-shadow: -2px 7px 18px -4px rgba(0, 0, 0, 0.329);
    z-index: 5  ;
    position: relative;
}
.left-side-nav {
    background-color: white;
    display: flex;
    margin-right: 20px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: 1%;
    border: 1px solid black;
}
input[type="text"] {
    outline: none;
    border: 0px;
    padding: 5px;
    margin: 0px;
    width: 500px;
    border-radius: 6px;
    background-color: transparent;
}
button[type="submit"] {
    padding: 5px;
    color: rgb(0, 0, 0);
    border: 0px;
    margin: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

button[type="submit"]:hover {
    color: rgb(0, 0, 0);
    background: rgb(182, 182, 255);
}

button[type="submit"]:focus {
    outline: none;
}
.left-side-nav:hover {
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.126);
}

/* ============================= TOGGLE SWITCH ======================================== */

.main-logo {
    height: 55px;
}
.toggle {
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}

/* ============================= TOGGLE SUBNAVIGATION ======================================== */

.td-subnav-cont {
    background: linear-gradient(120deg, rgb(255, 144, 32) 0%, rgb(252, 200, 55) 72%);
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 4;
    position: fixed;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 60%;
    justify-items: center;
}
.subnav-img {
    height: 30px;
    margin: 8px;
    border-radius: 6px;
}
.subnav-img:hover {
    background-color: lightblue;
}
.subnav-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    padding-top: 8px;
    margin-bottom: 10px;
    border-top: 4px solid rgba(0, 0, 0, 0.818);
}

/* ============================= FOOTER CSS ======================================== */

.footer-cont {
    display: flex;
    background: linear-gradient(360deg, rgb(255, 144, 32) 0%, rgb(252, 200, 55) 72%);
    align-items: center;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
}   
.footer-text {
    color: black;
    text-decoration: none;
}
.copyright-cont {
    display: flex;
    margin-left: 1em;
}
.fo-small-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.fo-nav-li {
    margin-right: 15px;
    border-left: 2px solid black;
    padding-left: 10px;
}
.fo-nav-img {
    height: 22px;
    margin-right: 3px;
    border-radius: 50%;
}
.fo-nav-img:hover {
    background-color: rgb(212, 159, 255);
}
.smnav-ab:hover .fo-nav-img {
    background-color: rgb(212, 159, 255);;
}
.smnav-con:hover .fo-nav-img {
    background-color: rgb(212, 159, 255);;
}
.smnav-call:hover .fo-nav-img {
    background-color: rgb(212, 159, 255);;
}